<!-- <h2>Welcome to angular...</h2> -->
<!-- Header -->
<app-header> </app-header>
<br />
<!-- Products Page -->
<br />
<!-- <button
  style="margin-left: 20px"
  type="button"
  class="btn btn-primary resize"
  (click)="listProducts()"
>
  Show Products
</button> -->

<!-- <button
  style="margin-left: 20px"
  type="button"
  class="btn btn-primary resize"
  (click)="toggleProducts()"
>
  Display and Show
</button> -->
<!-- <app-products></app-products> -->
<!-- Home Page -->
<!-- <app-home-page></app-home-page> -->

<router-outlet></router-outlet>
<br />
<br />
<!-- Footer -->
<app-footer></app-footer>
