.centeralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resize {
  width: 100px;
  height: 50px;
}

.selected {
  background-color: lightcoral;
  color: blue;
  font-style: italic;
}
